<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>Logged in with JWT</p>
    <div>
        Users from secure api endpoint:
        <ul>
            <li *ngFor="let user of users">{{user.firstName}}{{user.lastName}}</li>
        </ul>
    </div>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>