<div class="col-md-6 col-md-offset-3">
  <h1>Admin Home</h1>
  <p>You're logged in with rights of Admin!!</p>
  <div>
      Users from secure api end point:
      <ul>
          <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}} ,Role: {{user.role}}</li>
      </ul>
  </div>
  <p><a [routerLink]="['']">Logout</a></p>
</div>
