/* ------- */
/*  basic  */
/* ------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: "Lato","Arial",sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;	
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;

}

/* ------- */
/* reusable*/
/* ------- */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0px;
}

.box {
	padding: 1%;

}

/* ------- */
/* headings*/
/* ------- */

h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;	
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;

}

/* ------- */
/*  header */
/* ------- */

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.logo-black {
	height: 50px;
	width: auto;
	float: left;
	margin: 5px 0;
	display: hidden;	
}

/*  main navi */
.main-nav {
	float: right;
	list-style: none;
	margin-top: 70px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22
}

/* sticky navi */
.sticky {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 2px #efefef;
	z-index: 9999;
}

.main-nav {
	margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
	padding: 16px 0;
	color: #555;
}

.sticky .logo {display: none;}
.sticky .logo-black {display: block;}
/* ------- */
/*features */
/* ------- */

.section-features .long-copy {
	margin-bottom: 30px;
}

/* ------- */
/*  meals  */
/* ------- */

.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.2s, opacity 0.5s;
}

.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.04);
} 

/* -------- */
/*  steps   */
/* -------- */

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}

.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}

.app-screen {
	width: 40%;
}

.works-step {
	margin-bottom: 50px;
}

.works-step:last-of-type {
	margin-bottom: 80px;
}

.works-step div {
	color: #e67e22;
	border: 2px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	text-align: center;	
	padding: 5px;
	float: left;
	font-size: 150%;
	margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
	border:0;
}

.btn-app img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}

/* -------- */
/*  cities  */
/* -------- */

.box img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-features {
	margin-bottom: 5px;
}

/* -------- */
/*paragraphs*/
/* -------- */

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.box {
	font-size: 90%;
	line-height: 145%;
}

/* -------- */
/*  icons   */
/* -------- */

.icon-big {
	font-size: 320%;
	display: block;
	color: #e67e22;
	margin-bottom: 10px;
}

.icon-small {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #e67e22;
	font-size: 120%;
	margin-right: 10px;
	/* Align text and icon */
	line-height: 120%
	vertical-align: middle;
	margin-top: -5px;
}

/* ------- */
/* links  */
/* ------- */

a:link,
a:visited {
	color: #e67e22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	transition: border-bottom 0.2s, color 0.2s;	
}

a:hover,
a:active {
	color: #555;
	border-bottom: 1px solid transparent;
}

/* ------- */
/* button  */
/* ------- */

.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;	
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px; 
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.btn:hover,
.btn:active,
input[type_submit]:hover,
input[type_submit]:active {
	background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
	border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #cf6d17;
	color: #fff;
}

/* ------- */
/* form    */
/* ------- */

.contact-form {
	width: 60%;
	margin: 0 auto; 
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea {
	height: 100px;
}

input[type=checkbox] {
	margin: 10px 5px 10px 0;
}

*:focus {outline:none;}

/* ------- */
/* footer  */
/* ------- */

footer {
	background-color: #333;
	padding: 40px;
	font-size: 80%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;

}

.social-links li a:link,
.social-links li a:visited {
	font-size: 170%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	transition: color 0.2s;
}
.ion-social-facebook:hover {
	color: #3b5998;
}

.ion-social-twitter:hover {
	color: #00aced;
}

.ion-social-googleplus:hover {
	color: #dd4b39;
}

.ion-social-instagram:hover {
	color: #517fa4;
}	


footer p {
	margin-top: 30px;
	color: #888;
	text-align: center;
	font-size: 80%;
}

